*{margin:0px;padding:0px;}
ul li{list-style:none;}
p,span,a{font-family: "微软雅黑",Arial;}
.header{height: 75px;border-bottom: 2px solid #FD5A71;}
.logo{height: 48px;width: 170px;background:url(../image/logo.png);position: relative;top: 19px;}
.nav{width: 146px;height: 54px;position: fixed;top: 0px;right: 50px;}
.header{background-color: rgba(0, 0, 0, 0.4);min-width: 1000px;position: relative;margin: 0px auto;z-index: 10;
position: relative;}
.header>div{width: 1000px;height: 100%;margin: 0px auto;}
/*折纸导航*/
@keyframes open{
	0%
	{
		-moz-transform:rotateX(-120deg);
		-webkit-transform:rotateX(-120deg);
	}
	25%
	{
		-moz-transform:rotateX(30deg);
		-webkit-transform:rotateX(30deg);
	}
	50%
	{
		-moz-transform:rotateX(-15deg);
		-webkit-transform:rotateX(-15deg);
	}
	75%
	{
		-moz-transform:rotateX(8deg);
		-webkit-transform:rotateX(8deg);
		box-shadow:inset 0 0 0 0 #ccc;
	}
	100%
	{
		-moz-transform:rotateX(0deg);
		-webkit-transform:rotateX(0deg);
	}
}
@keyframes clos
{
	0%
	{
		-moz-transform:rotateX(0deg);
		-webkit-transform:rotateX(0deg);
	}
	100%
	{
		-moz-transform:rotateX(-120deg);
		-webkit-transform:rotateX(-120deg);
	}
}
@-moz-keyframes open{
	0%
	{
		-moz-transform:rotateX(-120deg);
		-webkit-transform:rotateX(-120deg);
	}
	25%
	{
		-moz-transform:rotateX(30deg);
		-webkit-transform:rotateX(30deg);
	}
	50%
	{
		-moz-transform:rotateX(-15deg);
		-webkit-transform:rotateX(-15deg);
	}
	75%
	{
		-moz-transform:rotateX(8deg);
		-webkit-transform:rotateX(8deg);
		box-shadow:inset 0 0 0 0 #ccc;
	}
	100%
	{
		-moz-transform:rotateX(0deg);
		-webkit-transform:rotateX(0deg);
	}
}
@-moz-keyframes clos
{
	0%
	{
		-moz-transform:rotateX(0deg);
		-webkit-transform:rotateX(0deg);
	}
	100%
	{
		-moz-transform:rotateX(-120deg);
		-webkit-transform:rotateX(-120deg);
	}
}
@-webkit-keyframes open{
	0%
	{
		-moz-transform:rotateX(-120deg);
		-webkit-transform:rotateX(-120deg);
	}
	25%
	{
		-moz-transform:rotateX(30deg);
		-webkit-transform:rotateX(30deg);
	}
	50%
	{
		-moz-transform:rotateX(-15deg);
		-webkit-transform:rotateX(-15deg);
	}
	75%
	{
		-moz-transform:rotateX(8deg);
		-webkit-transform:rotateX(8deg);
		box-shadow:inset 0 0 0 0 #ccc;
	}
	100%
	{
		-moz-transform:rotateX(0deg);
		-webkit-transform:rotateX(0deg);
	}
}
@-webkit-keyframes clos
{
	0%
	{
		-moz-transform:rotateX(0deg);
		-webkit-transform:rotateX(0deg);
	}
	100%
	{
		-moz-transform:rotateX(-120deg);
		-webkit-transform:rotateX(-120deg);
	}
}
.nav,.fold{-webkit-perspective:800px;-moz-perspective:800px;}
.fold h2{padding-top: 18px;line-height: 36px;text-indent: 50px;background:url("../image/topMenu.png") no-repeat scroll 0% 0%;position: relative;z-index: 2;transform: translateZ(1px);-moz-transform: translateZ(1px);-webkit-transform: translateZ(1px);}
.nav .T3D{transform: rotateY(-15deg);-moz-transform: rotateY(-15deg);-webkit-transform: rotateY(-15deg);}
.fold div {height: 30px;position: absolute;top: 30px;left: 0px;width: 100%; z-index: 1;transform-style:preserve-3d;transform-origin:top; transform:rotateX(-120deg);-webkit-transform-style:preserve-3d; -webkit-transform-origin:top; -webkit-transform:rotateX(-120deg);-moz-transform-style:preserve-3d; -moz-transform-origin:top; -moz-transform:rotateX(-120deg);}
.fold span {display: block; width: 146px;height: 29px;line-height: 29px;background: #fff; color: #D16C6C;text-indent: 20px;box-shadow: 0px 0px 100px 20px #000 inset; transition: all 1s ease 0s;font-size: 14px;}
.fold .open{-webkit-transform:rotateX(0deg); -webkit-animation:1.5s open ease-in;-moz-transform:rotateX(0deg); -moz-animation:1.5s open ease-in;}
.fold .open>span{box-shadow:inset 0 0 100px 20px rgba(0,0,0,0);}
.fold .clos{transform:rotateX(-120deg);animation:0.7s clos ease;-webkit-transform:rotateX(-120deg); -webkit-animation:0.7s clos ease;-moz-transform:rotateX(-120deg); -moz-animation:0.7s clos ease;}
.fold .clos>span{box-shadow:inset 0 0 100px 20px rgba(0,0,0,1);}
.aside-row{width: 96%;height: 64px;position: fixed;top: 300px;left: 2%;z-index:3;}
.main-row{background: url('../image/row.png') no-repeat;width: 35px;height: 63px;opacity: 0.6;display: block;}
.main-row:hover{opacity: 1;}
.row-left{float: left;}
.row-right{float: right;background-position: -35px;}
/*轨道*/
#trackContent{height: 648px;width: 100%;}
.track {height: 100%; margin: -63px auto; }
.content { width: 1000px; height: 100%;margin: -63px auto;position: relative;}
.content > div { position: relative;transition: all 2s }
.content > .track>div { position: absolute; }
.content > .track>div:nth-of-type(1) { width: 936px; height: 936px;z-index:1; background: rgba(0, 0, 0, 0.02) none repeat scroll 0% 0%; border: 2px 
solid rgba(0, 0, 0, 0.05); border-radius: 50%;left: 28.925px; top: -37.175px;}
.content > .track>div:nth-of-type(2) { width: 816px; height: 816px;z-index:2; background: rgba(0, 0, 0, 0.04) none repeat scroll 0% 0%; border: 2px solid rgba(0, 0, 0, 0.15); border-radius: 50%; left: 95.97px; top: 2.73px;}
.content > .track>div:nth-of-type(3) { width: 656px; height: 656px;z-index:3; background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; border: 2px solid rgba(0, 0, 0, 0.2); border-radius: 50%; left: 172.985px; top: 76.365px; }
.content > .track>div:nth-of-type(4) { width: 426px; height: 426px;z-index:4; background: rgba(0, 0, 0, 0.25) none repeat scroll 0% 0%; border: 2px solid rgba(0, 0, 0, 0.2); border-radius: 50%; left: 286.756px; top: 188.744px; }
.butshow{z-index: 2;position: relative;display: inline-block;width: 130px;height: 40px;background-color: #FD5A71;position: absolute;bottom: 18px;border-radius: 20px;color: #FFF;text-align: center;transition: all 0.2s ease 0s;
border: 0px none;cursor: pointer;opacity: 0.8}
.butshow:hover{transform: scale(0.95);-webkit-transform: scale(0.95);-moz-transform: scale(0.95);opacity: 0.5}
.ship{width: 200px;position: relative;left: 261px;top: -20px;}
.ship img{opacity:0.3;width: 140px;}
/*3D圆球*/
.person-description{width: 426px;height:426px;-webkit-transform-style:
		preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;-moz-perspective:900px;-webkit-perspective:900px;perspective:900px;}
.person-box{width:100%;height: 100%;-webkit-transform-style: preserve-3d;-moz-transform-style:preserve-3d;position: relative;cursor: pointer;}
.person-box ul{width:100%;height: 100%;position: absolute;-webkit-transform-style:
	preserve-3d;-moz-transform-style:preserve-3d;}
.list-description p,.person-box ul li{border: 1px solid rgba(71, 54, 120, 0.45);background-color: rgba(71, 54, 120, 0.1);box-shadow: 0px 0px 12px rgba(71, 54, 120, 0.7);text-shadow: 0px 0px 10px rgba(0, 156, 255, 0.8);}
.person-box ul li { line-height: 30px; text-align: center; font-size: 16px; position: absolute; -moz-user-select: none;
-webkit-user-select:none;font-weight: bold;transition:2s ease;color: rgba(255, 255, 255, 0.75);width: 30px;height: 30px;}
.list-description{opacity: 0;left: 61px;width: 300px;position: relative;top: 128px;transition: all 0.5s ease 0s;
display: none;transform: scale(2);-moz-transform: scale(2);-webkit-transform: scale(2);transform-origin: center center -200px;-moz-transform-origin: center center -200px;
-webkit-transform-origin: center center -200px;}
.list-description p{font-size: 14px;line-height: 24px;word-break: break-all;color: rgb(255, 181, 97);}
.list-description a{position: absolute;right: 0px;top: -29px;font-size: 20px;color: #FFB561;cursor: pointer;}
/*装饰*/
@keyframes blinking{
	
	0%, 80%, 100% { opacity: 0.8; }
	40% { opacity: 0; }
	
}
@-webkit-keyframes blinking{
	
	0%, 80%, 100% { opacity: 0.8; }
	40% { opacity: 0; }
	
}
@-moz-keyframes blinking{
	
	0%, 80%, 100% { opacity: 0.8; }
	40% { opacity: 0; }
	
}
.decorate>div{animation:3s blinking infinite;-webkit-animation:2s blinking infinite}
.decorate>div.circle{width:10px;height:10px;background:rgba(255,255,255,0.8);border-radius: 50%;position:absolute;}
.decorate>div.circle1{left: 196px;top: 44px;animation-delay: 0.2s; -webkit-animation-delay:  0.2s;}
.decorate>div.circle2{left: 432px;top: 0px;animation-delay: 0.7s; -webkit-animation-delay:0.7s;}
.decorate>div.circle3{bottom: 296px;right: 313px;animation-delay:1.3s; -webkit-animation-delay: 1.3s;}
.decorate>div.circle4{left: 261px;bottom: 421px;animation-delay: 1.8s; -webkit-animation-delay:1.8s;}
.decorate>div.star{background:url(../image/star.png);width: 9px;height: 14px;position: absolute;}
.decorate>div.star1{top: -48px;left: 44px;animation-delay: 0.7s; -webkit-animation-delay:0.7s;}
.decorate>div.star2{right: 59px;bottom: 360px;animation-delay: 1.3s; -webkit-animation-delay:1.3s;}
.decorate>div.star3{top: -25px;right: 100px;animation-delay: 1.8s; -webkit-animation-delay:1.8s;}

/*星球旋转*/
@keyframes rotate{
	
	0%{
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100% { 
	
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
	
}
@-moz-keyframes rotate{
	
	0%{
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100% { 
	
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
	
}
@-webkit-keyframes rotate{
	
	0%{
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100% { 
	
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
	
}
/*红色星球中起始圆点显示*/
@keyframes emCircle1{
	
	0%{width:0px;height:0px;}
	10%,100%{ width: 17px;height: 17px;}
	
}
@-webkit-keyframes emCircle1{
	
	0%{width:0px;height:0px;}
	10%,100%{ width: 17px;height: 17px;}
	
}
/*红色星球中结束圆点显示*/
@keyframes iCircle1{

	0%,10% { width: 0px; height: 0px; top: 56px; left: 36px }
	11% { width: 10px; height: 10px; top: 56px; left: 36px }
	15% { width: 10px; height: 10px;left:94px;top: 121px}
	30%,100% { width: 10px; height: 10px; left: 208px;top: 122px}

}
@-webkit-keyframes iCircle1{

	0%,10% { width: 0px; height: 0px; top: 56px; left: 36px }
	11% { width: 10px; height: 10px; top: 56px; left: 36px }
	15% { width: 10px; height: 10px;left:94px;top: 121px}
	30%,100% { width: 10px; height: 10px; left: 208px;top: 122px}

}
/*红色星球中第一根线显示*/
@keyframes spanLine1{

	0%,11% {height: 0px}
	15%,100% {height: 79px}

}
@-webkit-keyframes spanLine1{

	0%,11% {height: 0px}
	15%,100% {height: 79px}

}
/*红色星球中第二根线显示*/
@keyframes pLine1{

	0%,15% {width: 0px}
	30%,100% {width:110px}

}
@-webkit-keyframes pLine1{

	0%,15% {width: 0px}
	30%,100% {width:110px}

}
/*红色星球中文字*/
@keyframes aText1{

	0%,30% {opacity: 0}
	32%,100% {opacity:1}

}
@-webkit-keyframes aText1{

	0%,30% {opacity: 0}
	32%,100% {opacity:1}

}
.content > div.planet{position: static}
.content > div.planet a,.planetSty em,.planetSty span,.planetSty i,.planet>div,.planetSty p{position: absolute;display: block;}
.planetSty em,.planetSty i{border-radius: 50%;background: rgba(255, 255, 255,0.85);}
.planetSty span{width: 1px;background: rgb(255, 255, 255) none repeat scroll 0% 0%;transform: rotate(-42deg);transform-origin: left top}
.planetSty p{height: 1px;background: rgb(255, 255, 255) none repeat scroll 0% 0%;}
.planetSty {cursor: pointer}
.planet>div{z-index: 100;}
.planet .redplanet{left: -2.05px;top: 217.217px}
.redplanet a{width: 112px;left: 72px;top: 85px;color: #FD5971;display: none;opacity: 0;}
.redplanet a.text,.greenplanet a.text,.yelloplanet a.text{animation:aText1 4s ease 0s 2 alternate;-webkit-animation:aText1 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.redplanet em{top: 54px;left: 36px;}
.redplanet em.start,.greenplanet em.start{animation:emCircle1 4s ease 0s 2 alternate; -webkit-animation:emCircle1 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.redplanet i{left: 208px;top: 122px}
.redplanet i.iCircle{animation:iCircle1 4s ease 0s 2 alternate; -webkit-animation:iCircle1 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.redplanet span{top: 69px;left: 46px;}
.redplanet span.spanLine{animation:spanLine1 4s ease 0s 2 alternate; -webkit-animation:spanLine1 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.redplanet p{top: 125.5px;left: 99px;}
.redplanet p.pLine{animation:pLine1 4s ease 0s 2 alternate; -webkit-animation:pLine1 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
/*黄色星球中起始圆点显示*/
@keyframes emCircle2{
	
	0%{width:0px;height:0px;}
	10%,100%{ width: 14px;height: 14px;}
	
}
@-webkit-keyframes emCircle2{
	
	0%{width:0px;height:0px;}
	10%,100%{ width: 14px;height: 14px;}
	
}
/*黄色星球中结束圆点显示*/
@keyframes iCircle2{

	0%,10% { width: 0px; height: 0px; top: 22px;left: 40px; }
	11% { width: 10px; height: 10px;top: 22px;left: 40px; }
	15% { width: 10px; height: 10px;left: 87px;top: 70px;}
	30%,100% { width: 10px; height: 10px; top: 70px;left: 196px;}

}
@-webkit-keyframes iCircle2{

	0%,10% { width: 0px; height: 0px; top: 22px;left: 40px; }
	11% { width: 10px; height: 10px;top: 22px;left: 40px; }
	15% { width: 10px; height: 10px;left: 87px;top: 70px;}
	30%,100% { width: 10px; height: 10px; top: 70px;left: 196px;}

}
/*黄色星球中第一根线显示*/
@keyframes spanLine2{

	0%,11% {height: 0px}
	15%,100% {height: 60px;}

}
@-webkit-keyframes spanLine2{

	0%,11% {height: 0px}
	15%,100% {height: 60px;}

}
/*黄色星球中第二根线显示*/
@keyframes pLine2{

	0%,15% {width: 0px}
	30%,100% {width: 117px;}

}
@-webkit-keyframes pLine2{

	0%,15% {width: 0px}
	30%,100% {width: 117px;}

}
.yelloplanet{left: 183px;top: 546px;}
.yelloplanet a{opacity: 0;width: 92px;top: 35px;left: 77px;color:#FFB561;}
.yelloplanet em{top: 22px;left: 40px;}
.yelloplanet em.start{animation:emCircle2 4s ease 0s 2 alternate; -webkit-animation:emCircle2 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.yelloplanet i{top: 70px;left: 196px;}
.yelloplanet i.iCircle{animation:iCircle2 4s ease 0s 2 alternate; -webkit-animation:iCircle2 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.yelloplanet span{top: 32px;left: 47px;}
.yelloplanet span.spanLine,.greenplanet span.spanLine{animation:spanLine2 4s ease 0s 2 alternate; -webkit-animation:spanLine2 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.yelloplanet p{top: 75px;left: 87px;}
.yelloplanet p.pLine{animation:pLine2 4s ease 0s 2 alternate; -webkit-animation:pLine2 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
/*绿色星球中第二根线显示*/
@keyframes pLine3{

	0%,15% {width: 0px}
	30%,100% {width: 151px;}

}
@-webkit-keyframes pLine3{

	0%,15% {width: 0px}
	30%,100% {width: 151px;}

}
/*绿色星球中结束圆显示*/
@keyframes iCircle3{

	0%,10% { width: 0px; height: 0px; left: 77px;top: 39px; }
	11% { width: 10px; height: 10px;left: 77px;top: 39px;}
	15% { width: 10px; height: 10px;top: -8.5px;left: 130px;}
	30%,100% { width: 10px; height: 10px;top: -8.5px;left: 280px;}

}
@-webkit-keyframes iCircle3{

	0%,10% { width: 0px; height: 0px; left: 77px;top: 39px; }
	11% { width: 10px; height: 10px;left: 77px;top: 39px;}
	15% { width: 10px; height: 10px;top: -8.5px;left: 123px;}
	30%,100% { width: 10px; height: 10px;top: -8.5px;left: 280px;}

}
.greenplanet{left: 740px;top: 424px;}
.greenplanet a{color:#d3da56;top: -41px;right: -153px;display: none;opacity: 0;}
.greenplanet em{left: 77px;top: 39px;}
.greenplanet i{top: -8.5px;left: 243px;}
.greenplanet i.iCircle{animation:iCircle3 4s ease 0s 2 alternate; -webkit-animation:iCircle3 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}
.greenplanet span{top: -3px;right: 22px;transform: rotate(42deg);}
.greenplanet p{top: -3px;left: 130px;}
.greenplanet p.pLine{animation:pLine3 4s ease 0s 2 alternate; -webkit-animation:pLine3 4s ease 0s 2 alternate;animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;}

.blueplanet {right: 68px;top: 176px;animation:40s rotate infinite}
.pinkstarplanet{left: 365px;top: 546px;animation:80s rotate infinite}
.purplestarplanet{top: 193px;left: 198px;opacity: 0.6;}
.bluestarplanet{bottom: 214px;left: 56px;}
.moon{top: 224px;left: 326px;}
.moon>img{opacity: 0.3}
/*message留言板部分*/
.msg-container{width:1011px;margin: 50px auto;    overflow: hidden;}
.msg-list{width:600px;float: left; position: relative;z-index: 10;}
.msg-content{width:364px;border:1px solid #fff;float: left;margin-left: 25px;background: rgb(77, 78, 143);border-radius: 3px;
box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);transition:all .6s;position: relative;}
.msg-content:hover,.text:hover{box-shadow: 0px 6px 15px rgba(0,0,0,0.5);}
.msg-header>p{background: #fff;text-indent: 1.5em;color:#585858;font-size: 15px;box-shadow: 0px 6px 12px -6px rgba(0,0,0,0.3);}
.msg-content>p{height:42px;line-height: 42px;}
.msg-content ul{margin: 20px 0px;position: relative;z-index: 10;}
.msg-content ul li{margin: 10px 20px;}
.msg-container ul li span{font-size: 12px;color:#f9f3f0}
.msg-container ul li input,.msg-container ul li textarea{margin-left: 10px;width: 266px;border-radius: 3px;background: transparent none repeat scroll 0% 0%;
background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;border: 0px none;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16) inset;
padding: 3px 5px 2px;}
.msg-container ul li input{height: 25px;vertical-align: center;}
.msg-container ul li textarea{height: 75px;vertical-align: top;}
.msg-container ul li button{width: 145px;height: 35px;color: rgb(255, 255, 255);border: 0px none;background: #f47e5b;border: 0px;border-radius: 5px;
margin-left: 34px;cursor: pointer;outline: none}
.msg-container ul li button:hover{background:#e47e5b;}
.msg-list>p{width: 100%;height:36px;line-height: 36px;border-radius: 3px}
.row{position: absolute;width: 2px;border-width: 8px;border-style: solid;}
.rowbottom{border-color: #FFF rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);top: 36px;left: 87px;}
#message-list{padding: 10px 0px;border-left: 1px solid #FFF;margin: 8px 95.5px 0px;height:0;transition:1s;}
#message-list li{position: relative;padding: 5px 0px;width: 444px;-webkit-perspective: 800px;-moz-perspective: 800px;
-webkit-perspective-origin: left 30px;-moz-perspective-origin: left 14px;perspective: 800px;perspective-origin: left 14px;}
#message-list .ico{background: #F33;border: 3px solid #FFF;border-radius: 50%;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset, 0px 5px 7px rgba(0, 0, 0, 0.2);
position: absolute;left: -8px;top: 14px;width: 14px;height: 14px;}
#message-list .pic{width: 70px;height: 70px;border-radius: 50%;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset, 0px 5px 7px rgba(0, 0, 0, 0.2);
border: 5px solid #FFF;position: absolute;top: -15px;left: -97px;}
.text{box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.3);margin: 10px 30px 0;transition: all 0.6s ease 0s;}
.text h3{padding-left: 24px;font: 12px/40px "微软雅黑";border-radius: 3px 3px 0 0;position: relative;box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.1);}
.text header{border-radius: 3px 3px 0px 0px;position: relative;}
.msg-theme h3{background:url('../image/dialog.png') no-repeat 20px center #fff;text-indent: 2em;}
.msg-reply h3{background:#fff;font-size: 14px;color: #BB5633;}
.answer{border: 1px solid #fff;background: rgb(77, 78, 143);border-radius:0 0 3px 3px;color: rgb(215, 215, 234);padding: 10px 20px 20px;
line-height: 24px;font-size: 12px;}
.rowleft{border-color: rgba(255, 255, 255, 0) #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);left: -16px;top: 12px;}
.theme-content{position: absolute;top: 12px;left: 105px;color: #939393 !important;}
.msg-reply-content p{color: #F47E5B !important;}
.rowtop{border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #FFF rgba(255, 255, 255, 0);left: 42px;top: -16px;}
#footer{ margin-bottom:10px;height: 33px;background:#fff;box-shadow:0px 5px 6px rgba(0, 0, 0, 0.1); border-radius:5px; line-height:30px; text-align:center; 
transition:.5s .5s;position:relative;z-index:10;}
#footer a,#footer p{ display:inline-block;font-size: 12px}
#footer a{ text-decoration:none;background:#5A5BA2;line-height:22px;padding:0 10px; color: #fff;; border-radius:2px;box-shadow:0 1px 3px rgba(0,0,0,0.5);margin:0 5px;
}
#footer a:active,#footer .active{box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);}
.box{-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform-origin: left 30px 0px;
-moz-transform-origin: left 14px 0px;transform-origin: left 14px 0px;-webkit-transform: rotateY(90deg);-moz-transform: rotateY(90deg);
transform: rotateY(90deg);transition: .2s}
.msg-list-reply{opacity:0;-moz-transform-origin:center top;
	-webkit-transform-origin: center top 0px; transform-origin: center top 0px;-webkit-transform: rotateX(-180deg);-moz-transform: rotateX(-180deg);
	transform: rotateX(-180deg);transition: .6s cubic-bezier(0.280, 0.695, 0.580, 1.450);}
.msg-error{position: absolute;background: #fff;border-radius: 4px;padding: 8px 10px;top: 92px;left: 56px;box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);display:none;}
.msg-error p{font-size: 13px;}
.rowtop2{border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #FFF;top: -16px;}

/*技能展示*/
#wrap{width:100%;height:500px;margin:30px auto; position:relative;overflow:hidden;-webkit-perspective:300px;
    -moz-perspective:300px;perspective:300px;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d; -webkit-perspective-origin:center center; -moz-perspective-origin:center center; perspective-origin:center center;}
#wrap img{ position:absolute;width: 90%;height: 351px;}
#wrap img:nth-of-type(1){ left: 67px;top: 57px;z-index: 0;-webkit-transform:translateZ(-15px);-moz-transform:translateZ(-15px);}
#wrap img:nth-of-type(2){ left:100px;top: 57px; z-index:1;-webkit-transform:translateZ(-30px);-moz-transform:translateZ(-30px);}
#wrap img:nth-of-type(3){ left:80px;top: 57px; z-index:2;-webkit-transform:translateZ(-45px);-moz-transform:translateZ(-45px);}
#wrap img:nth-of-type(4){ left:90px;top:57px; z-index:3;-webkit-transform:translateZ(-60px);-moz-transform:translateZ(-60px);}

/*作品展示*/
.sec-con{display:none;}
#prodescrition{height: 750px;overflow: hidden;}
.productionList-container{width: 1270px;margin: 0 auto;overflow: hidden;padding: 0 4% 20px;}
.production-container{width:100%;position: absolute;}
/*.production-container{width:100%;background:url("../image/banner.jpg") center top;height:800px;background-size: cover}*/
.prod-list{width: 1308px;position: relative;margin:40px auto;}
.prod-list li{position: absolute;z-index:10;cursor:pointer;transition:.4s;transform:scale(0);-webkit-transform:scale(0);-moz-transform:scale(0)}
.prod-list li:nth-child(1){width: 150px;height: 150px;left: 150px;top: 87px;}
.prod-list li:nth-child(2){width: 204px;height: 204px;right: 497px;top: -17px;}
.prod-list li:nth-child(3){width: 172px;height: 172px;right: 184px;top: 54px;}
.prod-list li:nth-child(4){width: 132px;height: 132px;left: 90px;top: 290px;}
.prod-list li:nth-child(5){width: 270px;height: 270px;left: 391px;top: 159px;}
.prod-list li:nth-child(6){width: 214px;height: 214px;right: 359px;top: 222px;}
.prod-list li:nth-child(7){width: 130px;height: 130px;right: 79px;top: 314px;}
.photo-description,.photo-list,.prod-content{position:relative;z-index: 10;}
.photo-list,.prod-content{transform-style: preserve-3d;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;perspective: 800;-moz-perspective: 800;-webkit-perspective: 800;-ms-perspective: 800;}
.prod-content{width: 100%;height: 100%;transition:2s;border-radius: 50%;}
.prod-border{box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.6) inset, 0px 1px 2px rgba(0, 0, 0, 0.3);
border-radius: 50%;position: relative;;z-index: 10;width: 100%;height: 100%;display: block;}
.prod-photo,.prod-side{width: 100%;height: 100%;background-size: 100% 100%;overflow: hidden;position: absolute;top: 0px;
left: 0px;border-radius: 50%}
.photo-description h2,.photo-description-back,.photo-description p{color:#FD5971;}
.photo-description h2{font-weight: 500;}
.photo-description-back{position: absolute;right: 48px;top: 36px;font-size: 20px;cursor: pointer;transition: 1s;}
.photo-description-back:hover{transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg)}
.productico{background: url('../image/productico.png');width: 60px;height: 60px;display: block;width: 45px;height: 45px;background-size: cover;display: block;
position: absolute;opacity: 0;transition: opacity 0.5s ease 1s;}
.prod-list li:hover .prod-content{transform:rotateY(180deg);-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg)}
.prod-list li:hover .prod-side p,.prod-list li:hover .productico{opacity: 1}
.prod-list li:hover .prod-photo,.prod-side{border: 5px solid #FFF;}
.prod-con{transform:rotateY(180deg) translateZ(1px);-webkit-transform:rotateY(180deg) translateZ(1px);-moz-transform:rotateY(180deg) translateZ(1px);-ms-transform:rotateY(180deg) translateZ(1px)}
/*.prod-picture1{background-image: url("../image/hbu-little.png");transform:translateZ(2px);-webkit-transform:translateZ(2px);-moz-transform:translateZ(2px);-ms-transform:translateZ(2px);background-size: 630px;background-position: center center;}*/
.prod-picture{transform:translateZ(2px);-webkit-transform:translateZ(2px);-moz-transform:translateZ(2px);-ms-transform:translateZ(2px)}
.prod-side p{position: absolute;bottom: 0;background: transparent -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.1) 40%, transparent 50%) repeat scroll 0% 0%;
	background:-webkit-linear-gradient(bottom,rgba(0,0,0,.4) 20%,rgba(0,0,0,.1) 40%,rgba(0,0,0,0) 50%);background: transparent -ms-linear-gradient(center bottom , rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.1) 40%, transparent 50%) repeat scroll 0% 0%;
text-shadow: 2px 2px 3px #000;background: transparent linear-gradient(center bottom , rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.1) 40%, transparent 50%) repeat scroll 0% 0%;color: #FFF;width: 100%;text-align: center;padding: 50% 0px 10px;line-height: 56px;opacity: 0;transition:.5s 1s;}
.prod-list li.hidden{transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);}
.prod-list li.show{transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);}
.photos{width: 658px;height: 400px;float: left;margin-top:110px;}
.photo-description{width: 450px;padding: 32px 34px;overflow: hidden;height: 0px;transition:2s;position: relative;}
#photoslist li{width: 571px;height: 360px;border:10px solid #fff; border-radius:5px; background:url(../image/1.jpeg) no-repeat; box-shadow:0 0 10px rgba(0,0,0,0.5),inset 0 0 5px rgba(0,0,0,1);position: absolute;
left: 40px;top: 20px;opacity:0;background-position: center center;background-size: cover;}
.photosbtn{background:#fff url('../image/btn.png')no-repeat;width: 35px;height: 40px;z-index: 19;position: absolute;top: 162.5px;box-shadow:0 0 10px rgba(0,0,0,0.5);border-radius:5px; 
opacity: 0;transition:.2s;cursor: pointer;}
.prev{left: 60px;}
.next{right: 60px;background-position: right 0;}
.photo-list:hover .photosbtn{opacity: 1}
.photo-description p{line-height: 28px;margin-top: 10px;font-size: 13px;position: relative;color:#FFB561}
.photo-description time{font-size: 12px;line-height: 18px;color:#FD5971;}

/*自我简介*/
#stage{width:200px;height:300px;position:relative;margin:0 auto;margin-top:150px;background:null;
-webkit-transform:rotateX(-10deg) rotateY(0deg) ;-moz-transform:rotateX(-10deg) rotateY(0deg) perspective(2000px);-ms-transform:rotateX(-10deg) rotateY(0deg) perspective(2000px);-o-transform:rotateX(-10deg) rotateY(0deg) perspective(2000px);transform:rotateX(-10deg) rotateY(0deg) perspective(2000px);
-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;
-ms-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d;z-index: 100;}
#stage dd{height: 300px;width: 200px;position:absolute;border:1px solid #666;cursor:pointer;}
.over{position:absolute;left:0;top:320px;width:200px;height:300px;overflow:hidden;-webkit-transition:2s all ease;
	-moz-transition:2s all ease;-ms-transition:2s all ease;-o-transition:2s all ease;transition:2s all ease;-webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-ms-transform:scale(1,-1);-o-transform:scale(1,-1);transform:scale(1,-1);background-size:100% 100%;opacity:0}
.stage-shadow{position: absolute;left: 50%;top: 50%;width: 1200px;height: 1200px;margin-left: -600px;
    margin-top: -220px;background: -moz-radial-gradient(center center,600px 600px,rgb(109, 109, 162),rgba(0,0,0,0));background: -webkit-radial-gradient(center center,600px 600px,rgb(109, 109, 162),rgba(0,0,0,0));
background: radial-gradient(center center,600px 600px,rgb(109, 109, 162),rgba(0,0,0,0));-webkit-transform: translateY(-220px) rotateX(90deg);-moz-transform: translateY(-220px) rotateX(90deg);
transform: translateY(-220px) rotateX(90deg);}
#stage dd:nth-of-type(1){background:#fff7e2}
#stage dd:nth-of-type(2){background:#b9e8ee}
#stage dd:nth-of-type(3){background:#fbdab9}
#stage dd:nth-of-type(4){background:#cfdc59}
#stage dd:nth-of-type(5){background:#f7e59d}
#stage dd:nth-of-type(6){background:#EFAB97}
#stage dd:nth-of-type(7){background:#D0D2E0}
#stage dd:nth-of-type(8){background:#82B8F2}
#stage dd:nth-of-type(9){background:#f3f4f8}
@keyframes typing { from { width: 0; } }
@-webkit-keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }
@-webkit-keyframes caret { 50% { border-color: transparent; } }
.person-img{width: 90%;margin: 10px auto;display: block;height:117px;}
.person-dec{padding: 0px 13px 30px;}
.person-title{width: 0px;border: 0;font-weight: 500;white-space: nowrap;overflow: hidden;color: #0075B1;font-size: 24px;margin-bottom: 10px;}
.step{width: 168px;border-right: .1em solid;animation: typing 2.5s steps(7, end),caret 0.5s step-end infinite alternate;
-moz-animation: typing 2.5s steps(7, end),caret 0.5s step-end infinite alternate;-webkit-animation: typing 2.5s steps(7, end),caret 0.5s step-end infinite alternate;}
.person-content{line-height: 20px;color: #444;font-size: 14px;word-break: break-all;}

/*技能展示-音乐*/
#skyshow{position: relative;}
#phone {width: 100%;position: absolute;left: 0;height: 100%;overflow:hidden;z-index: 2;}
#oUl {width:100%;position: absolute;left: 0;bottom: 0;transition: transform .4s cubic-bezier(.445,.05,.55,.95);
overflow:hidden;}
#oUl li {float: left;z-index:2;width: 13.8%; position: relative;transition: transform .4s cubic-bezier(.445,.05,.55,.95);
will-change: transform;}
#oUl li img{width: 100%;max-width: 100%;height: auto;position: relative;will-change: transform;-webkit-transition: transform .3s cubic-bezier(0,.68,.86,.98);
transition: transform .3s cubic-bezier(0,.68,.86,.98);cursor: pointer;z-index: 2;}
#oUl li:nth-of-type(1) img{-webkit-transform: translate3d( 0px,63%,0px);-moz-transform: translate3d( 0px,63%,0px);transform: translate3d( 0px,63%,0px);}
#oUl li:nth-child(2) img{-webkit-transform: translate3d( 0px,47%,0px);-moz-transform: translate3d( 0px,47%,0px);transform: translate3d( 0px,47%,0px);}
#oUl li:nth-child(3) img{-webkit-transform: translate3d( 0px,67%,0px);-moz-transform: translate3d( 0px,67%,0px);transform: translate3d( 0px,67%,0px);}
#oUl li:nth-child(4) img{-webkit-transform: translate3d( 0px,47%,0px);-moz-transform: translate3d( 0px,47%,0px);transform: translate3d( 0px,47%,0px);}
#oUl li:nth-child(5) img{-webkit-transform: translate3d( 0px,27%,0px);-moz-transform: translate3d( 0px,27%,0px);transform: translate3d( 0px,27%,0px);}
#oUl li:nth-child(6) img{-webkit-transform: translate3d( 0px,47%,0px);-moz-transform: translate3d( 0px,47%,0px);transform: translate3d( 0px,47%,0px);}
#oUl li:nth-child(7) img{-webkit-transform: translate3d( 0px,61%,0px);-moz-transform: translate3d( 0px,61%,0px);transform: translate3d( 0px,61%,0px);}
.btnarea>.muslic-line{ width: 2px;background: #fff;position: absolute; top: 0px;}
.btnarea .btn{border-radius: 50%; background:#fff; position: absolute;z-index: 9; cursor: pointer; text-align: center; transition: all 0.1s ease}
.line1 { height: 120px;left: 30%; }
.arc1 { width: 80px; height: 80px; top: 108px; left: -39px; line-height: 80px;  }
.line2 {height: 170px;left: 40%; }
.arc2 { width: 110px; height: 110px;top: 143px; left: -54px; line-height: 110px;}
.line3 {height: 80px;left: 50%; }
.arc3 { width: 60px; height: 60px;top:70px; left: -29px; line-height: 60px;}
.line4 {height: 130px;left: 60%; }
.arc4 { width: 80px; height: 80px;top: 100px; left: -39px; line-height: 80px;}
.line5 { height: 90px; left: 70%; }
.arc5 { width: 100px; height: 100px;top: 64px; left: -50px; line-height: 100px;}
.btnarea { width: 100%; height: 300px; position: absolute; top: 0px; left: 0px;transition: all 1s ease 0s; }

